<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Unioncoop_TamayazRedemption::tamayaz_redemption" title="Tamayaz Redemption" sortOrder="10">
                    <resource id="Unioncoop_TamayazRedemption::redemption_factor" title="Redemption Factors" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
