<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * module.xml
 *
 * @copyright Copyright © 2020 Best Response Media. All rights reserved.
 * @author    contact@bestresponsemedia.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BestResponseMedia_MultishippingCustomization" setup_version="1.0.0" >
        <sequence>
            <module name="Magento_Multishipping"/>
            <module name="Magento_Quote"/>
        </sequence>
    </module>
</config>
