<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tofaha\GetOrderInvoices\Api\OrderInvoicesInterface" type="Tofaha\GetOrderInvoices\Model\OrderInvoices" />
    <preference for="Tofaha\GetOrderInvoices\Api\GenerateInvoicePdfInterface" type="Tofaha\GetOrderInvoices\Model\GenerateInvoicePdf" />

</config>
