<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Unioncoop_FreeDeliverySetup::freedelivery" title="Free Delivery" sortOrder="10">
                    <resource id="Unioncoop_FreeDeliverySetup::FreeDeliverySetup" title="Free Delivery Setup" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
