<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="FreeDeliverySetupGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Unioncoop\FreeDeliverySetup\Model\ResourceModel\FreeDeliverySetup\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FreeDeliverySetupGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="FreeDeliverySetupGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="free_delivery_setup_listing_data_source" xsi:type="string">Unioncoop\FreeDeliverySetup\Model\ResourceModel\FreeDeliverySetup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Unioncoop\FreeDeliverySetup\Model\ResourceModel\FreeDeliverySetup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">free_delivery_setup</argument>
            <argument name="eventPrefix" xsi:type="string">free_delivery_setup_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">free_delivery_setup_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unioncoop\FreeDeliverySetup\Model\ResourceModel\FreeDeliverySetup</argument>
        </arguments>
    </type>
</config>
