<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="set_customer_session_data_to_context" type="BestResponseMedia\IntercomChat\Plugin\CheckoutSessionContext" sortOrder="15"/>
    </type>

</config>