<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Directory\Model\Currency"
                type="BestResponseMedia\FixProductDecimalPrice\Model\Currency" />
    <preference for="Magento\Framework\Pricing\PriceCurrencyInterface"
                type="BestResponseMedia\FixProductDecimalPrice\Model\PriceCurrency" />
</config>
